/*****************
     General
*****************/
body {
    color: #000080;
    background-color: #FFF;
    font-family: 'Droid Sans', sans-serif;
}

a {
    color: #800080;
}

a:visited {
    color: #FF0000;
}

/*****************
     Header
******************/
.header {
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #d3d3d3;
    border-bottom-style: ridge;
}

.header h1 {
    font-size: 16px;
    margin-bottom: -12px;
}

.main-title {
    font-size: 200%;
}

.main-title-sm {
    font-size: 80%;
}

.header h2 {
    font-size: 15px;
    margin-top: 14px;
}

.header h3 {
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: -14px;
}

/******************
       Table
*******************/

.update-date {
    font-size: 10px;
    margin-top: 2px;
}

tr {
    margin-top: 1px;
}

table {
    width: 90%;
    margin-top: 0 auto;
    font-size: 14px;
}

.topic-table {
    border-bottom: 2px solid #d3d3d3;
    border-bottom-style: ridge;
}

/*********************
     Geico Info
*********************/

.geico-section {
    text-align: center;
    font-size: 11px;
    border-bottom: 2px solid #d3d3d3;
    border-bottom-style: ridge;
    padding-bottom: 12px;
}

.geico-section a img {
    position: relative;
    top: 13px;
}

/*********************
Contact for Comments
*********************/
.contact-info {
    border-bottom: 2px solid #d3d3d3;
    border-bottom-style: ridge;
    font-size: 13px;
    padding-bottom: 12px;
}

.contact-info p {
    padding-top: 5px;
}
/******************
     Footer
******************/

.footer-text {
  font-size: 13px;
}

.footer-text span {
    font-weight: bold;
}

/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
To link an external file to an HTML file you need to use the self closing <link> tag in the head.
Inside the tag you should use:
  -the href attribute with the value specifying the path to the file, ex. href="path_to_file"
  -the type attribute with the value specifying the type of document being linked, ex. type="text/css"
  -the rel attribute to show the relationship between the HTML file and the linked file, ex. rel="stylesheet"


What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
It took my partner and I a long time to position and style the elements to look like the original site.
We found that working on each section separately from the top of the page to the bottom was helpful.
As we did this we would target the font, margin, border, and other properites to design the page like
the original.


What CSS did you use to modify the element style (like size, color, etc.)?
We used font-size, font-weight, color, background-color, padding, margin, width, text-align, font-family,
position, and top.  Depending on the property we used values like pixels, percents, hex codes, and other values.
Also, we used Google Fonts to style the page with a custom font by linking the URL in the head of the HTML file and
using the body element with the font-family property to apply the font throughout the webpage.


Did you modify the HTML to include classes or ids? If so, which did you choose and why?
If you didn't, how would you know which one to add to your HTML?
We used classes to modify the HTML because they can be used multiple times.  We wanted to style elements under the same class
and target descendants of those elements.  When using ids that option should be used for targeting an element once.


When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
I think our site had the cleaner code because would used semantic elements and classes to style our page.
The base code seemed to be messier and included additional tags that were unnecessary.  Also, the base code
use elements like <b> to style the HTML when all of the styling for the page should be in your CSS.
*/